/*--
Author: Enoch Leonard
Author URL: Leonrdenoc.me
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/


a{text-decoration:none;}

.clear{clear:both;}/* clear float */
.underline{ padding-bottom:5px; border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
img{max-width:100%;}
/*end reset*/

/*--login form start here--*/
body {
  background: #FFFFFF;
  background-size: cover;
  margin: 0 auto;
  padding: 40px;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-size: 100%;*/
}
.ui.form .fourteen.wide.field{
    text-align: center;
}
.ui.form .field>.selection.dropdown{
    margin: 3%;
}

.ui.form .field>label{
    font-size: 1rem;
    color: #939393;
}
label{
    vertical-align: top;
    font-family: Source Sans Pro, Arial, sans-serif;
    cursor: pointer;
}

button#sendButton.ui.primary.large.button{
    margin-left: 44%;
}

.cen{
    text-align: center;
    color: #939394;
}
.ui.divider>.icon{
  font-size: 3rem;
  color: #4A88CB;
}

.copyright {
  margin: 15em 0 0 0;
  text-align: center;
}

.copyright p {
  font-size: 0.875em;
  font-weight: 400;
  color: seagreen;
}

.copyright p a{
  font-size: 1em;
  font-weight: 400;
  color:#8EDB15;
}

.copyright p a:hover{
  color: #fff;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
    background-color:#2B303B;
}
hr{
  color: #eee;
}


.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(72, 99, 160, 0.8) url(/img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}